<link rel="stylesheet" href="/css/order.css" />

<div class="verify-cont">
         <div>
            <i class="fa-solid fa-square-check fa-3x"></i>
         </div>
         <div>
            You are now verified you can now login
         </div>
 
     </div>
    