<link rel="stylesheet" href="/css/adminorder.css" />


  <section class="allorders-pg">

      <div id="allod-head">
        <h1>All Table Bookings</h1>
      </div>
      <table  id ="table-box">
        <thead>
          <tr class="table-rows">
            <th id="orders-head">Customer Name</th>
            <th>Phone Number</th>
            <th>Table Number</th>
            <th >Date</th>
            <th>Time</th>
            
          </tr>
        </thead>
        <tbody id="ordertableBodys">
       
          
           
        </tbody>

      </table>
    </section>
 