<link rel="stylesheet" href="/css/adminorder.css" />


  <section class="allorders-pg">

      <div id="allod-head">
        <h1>All Orders</h1>
      </div>
      <table  id ="table-box">
        <thead>
          <tr class="table-rows">
            <th id="orders-head">Orders</th>
            <th>Customer</th>
            <th>Table Number</th>
            <th >Status </th>
            <th>Placed At</th>
            <th>Instructions</th>
            
          </tr>
        </thead>
        <tbody id="ordertableBody">
       
          
           
        </tbody>

      </table>
    </section>
 