<link rel="stylesheet" href="/css/adminorder.css" />

<section class="allorders-pg">
  <div id="allod-head">
    <h1>All Subscribers</h1>
  </div>
  <table id="table-box">
    <thead>
      <tr class="table-rows">
        <th id="orders-head">Customer Name</th>
        <th>Email</th>
        <th>Phone Number</th>
       
      </tr>
    </thead>
    <tbody id="ordertableBodysSubs"></tbody>
  </table>
</section>
